<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body class="body-anamnese">
    <main class="flex-main center-text">
        <div>
            <h1>ANAMNESE</h1>
            <h3>QUESTIONÁRIO SOBRE ESTADO DE SAÚDE</h3>
        </div>

        <div>
            <h4>1. IDENTIFICAÇÃO</h4>
        </div>

        <form class="form-identificacao">
            <div>
                <label for="nomeid">NOME:</label>
                <input type="text">
                <label for="sexoid">SEXO:</label>
                <input type="text">
                <label for="dataid">DATA DE NASCIMENTO:</label>
                <input type="text">
                <label for="idadeid">IDADE:</label>
                <input type="text">
           </div>
        </form>
        
        <div>
            <h4>2. ATIVIDADES DA VIDA DIÁRIA</h4>
        </div>

        <form>
            <div>
                <h5>Número de horas trabalhadas por semana:</h5>
                <label for="menosvinte">Menos de 20</label>
                <input type="checkbox">
                <label for="vintequarenta">20 a 40</label>
                <input type="checkbox">
                <label for="quarentasesenta">41 a 60</label>
                <input type="checkbox">
                <label for="maissessenta">Mais de 60</label>
                <input type="checkbox">
            </div>
            <div>
                <h5>Atividades desempenadas no trabalho (+ de 25%)</h5>
                <label for="cadeiratrab">Sentar na cadeira</label>
                <input type="checkbox">
                <label for="pesostrab">Levantar ou carregar pesos</label>
                <input type="checkbox">
                <label for="depetrab">Ficar de pé</label>
                <input type="checkbox">
                <label for="caminhartrab">Caminhar</label>
                <input type="checkbox">
                <label for="dirigirtrab">Dirigir</label>
                <input type="checkbox">
                <label for="outrostrab">Outros</label>
                <input type="checkbox">
            </div>
            <div>
                <label for="obsvidadiaria">Observações</label>
                <input type="text">
            </div>
        </form>
        
        <div>
            <h4>3. HISTORICO MÉDICO</h4>
        </div>
        
        <form>
            <div>
                <label for="dataexame">Data do último exame físico e/ou médico:</label>
                <input type="text">
            </div>
            <div>
                <h5>Marque aqueles que tenham tido alguma cardiopatia antes dos 50 anos:</h5>
                <label for="paicardiopatia">Pai</label>
                <input type="checkbox">
                <label for="maecardiopatia">Mae</label>
                <input type="checkbox">
                <label for="irmaocardiopatia">Irmão ou Irmã</label>
                <input type="checkbox">
                <label for="avocardiopatia">Avô ou Avó</label>
                <input type="checkbox">
            </div>
            <div>
                <h5>Marque os problemas abaixo que tenham sido diagnosticados ou tratados por um médico</h5>
                <label for="alcoolismoprob">Alcoolismo</label>
                <input type="checkbox">
                <label for="renalprob">Problema Renal</label>
                <input type="checkbox">
                <label for="enfisemaprob">Enfisema</label>
                <input type="checkbox">
                <label for="anemiaprob">Anemia</label>
                <input type="checkbox">
                <label for="artriteprob">Artrite</label>
                <input type="checkbox">
                <label for="ocularprob">Problemas Oculares</label>
                <input type="checkbox">
                <label for="ulceraprob">Úlcera</label>
                <input type="checkbox">
                <label for="asmaprob">Asma</label>
                <input type="checkbox">
                <label for="diabetesprob">Diabetes</label>
                <input type="checkbox">
                <label for="pressaoaltaprob">Pressão Arterial Alta</label>
                <input type="checkbox">
                <label for="avcprob">AVC</label>
                <input type="checkbox">
                <label for="obesidadeprob">Obesidade</label>
                <input type="checkbox">
                <label for="muscularprob">Problemas Músculares</label>
                <input type="checkbox">
                <label for="outrosprob">Outros:</label>
                <input type="text">
            </div>
        </form>
        <form>
            <div>
                <label for="medicamentos">Descreva os medicamentos utilizados nos últimos tempos</label>
                <input type="text">
            </div>
        </form>
        <form> 
            <div>
                <h5>Indique os sintomas, conforme segue:</h5>
                <div>
                    <p>Tosse com sangue:</p>
                    <label for="sempretosse">Sempre</label>
                    <input type="checkbox">
                    <label for="vezestosse">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncatosse">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor abdominal:</p>
                    <label for="sempredorabdominal">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorabdominal">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorabdominal">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor nas pernas:</p>
                    <label for="sempredorpernas">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorpernas">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorpernas">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor nos braços:</p>
                    <label for="sempredorbracos">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorbracos">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorbracos">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor nas costas ou pescoço:</p>
                    <label for="sempredorcostaspescoco">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorcostaspescoco">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorcostaspescoco">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor no peito:</p>
                    <label for="sempredorpeito">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorpeito">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorpeito">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Dor nas articulacoes:</p>
                    <label for="sempredorarticulacao">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesdorarticulacao">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncadorarticulacao">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Falta de ar com esforço leve:</p>
                    <label for="semprefaltadearleve">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesfaltadearleve">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncafaltadearleve">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Sentir-se fraco:</p>
                    <label for="sempresentirfraco">Sempre</label>
                    <input type="checkbox">
                    <label for="vezessentirfraco">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncasentirfraco">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Tontura:</p>
                    <label for="sempretontura">Sempre</label>
                    <input type="checkbox">
                    <label for="vezestontura">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncatontura">Nunca</label>
                    <input type="checkbox">
                </div>
                <div>
                    <p>Palpitação ou batimento cardíaco acelerado:</p>
                    <label for="semprebatimentoacelerado">Sempre</label>
                    <input type="checkbox">
                    <label for="vezesbatimentoacelerado">Algumas vezes</label>
                    <input type="checkbox">
                    <label for="nuncabatimentoacelerado">Nunca</label>
                    <input type="checkbox">
                </div>
            </div>
        </form>
        <form>
            <div>
                <h5>Você possui alguma alergia?</h5>
                <label for="simalergia">Sim</label>
                <input type="checkbox">
                <label for="simalergia">Não</label>
                <input type="checkbox">
                <label for="simalergia">Quais?</label>
                <input type="text">
            </div>
        </form>
        <form>
            <div>
                <h5>Nos últimos tempos, você sofreu algum acidente ou lesão ósteo-articular?</h5>
                <label for="simlesãoacidente">Sim</label>
                <input type="checkbox">
                <label for="simalesãoacidente">Não</label>
                <input type="checkbox">
                <label for="simlesãoacidente">Quais?</label>
                <input type="text">
            </div>
        </form>
        <form>
            <div>
                <h5>Você possui alguma restrição à prática de atividade física?</h5>
                <label for="simrestriçãoatividade">Sim</label>
                <input type="checkbox">
                <label for="simrestriçãoatividade">Não</label>
                <input type="checkbox">
                <label for="simrestriçãoatividade">Quais?</label>
                <input type="text">
            </div>
        </form>

        <div>
            <h4>4. COMPORTAMENTO RELACIONADO À SAÚDE</h4>
        </div>

        <form>
            <div>
                <h5>Você fuma atualmente?</h5>
                <label for="simfumante">Sim</label>
                <input type="checkbox">
                <label for="simfumante">Não</label>
                <input type="checkbox">
                <label for="textofumante">Se sim, quantos cigarros por dia?</label>
                <input type="text">
            </div>
        </form>
        <form>
            <h5>Atualmente, você realiza alguma atividade física?</h5>
            <label for="simatividadefisica">Sim</label>
            <label for="naoatividadefisica">Não</label>
            <label for="quaisatividadefisica">Quais?</label>
            <input type="text">
            <label for="quaisatividadefisica">Frequencia:</label>
            <input type="text">
            <label for="quaisatividadefisica">Duração:</label>
            <input type="text">
        </form>

        <div>
            <h4>5. OBJETIVOS COM RELAÇÃO À ATIVIDADE FÍSICA</h4>
        </div>

        <form>
            <label for="esteticaobj">Estética</label>
            <input type="checkbox">
            <label for="lazerobj">Lazer</label>
            <input type="checkbox">
            <label for="terapeuticoobj">Terapêutico</label>
            <input type="checkbox">
            <label for="condicionamentoobj">Condicionamento Físico</label>
            <input type="checkbox">
            <label for="convivioobj">Convívio Social</label>
            <input type="checkbox">
            <label for="emagrecimentoobj">Emagrecimento</label>
            <input type="checkbox">
            <label for="outroobj">Outros:</label>
            <input type="text">
        </form>

        <div>
            <h4>6. COMENTÁRIOS GERAIS</h4>
        </div>

        <form>
            <div>
                <p>Caso você tenha alguma informação para acrescentar, que não tenha sido
                    perguntada neste questionário de saúde, favor registrar no espaço abaixo
                </p>
                <input type="text">
            </div>
        </form>
    </main>
</body>
</html>
