<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="/views/js/script.js"></script>
</head>
<body>
  <header class="header">
    <div class="header-left" onclick="operateNav()">
      <img class="logo-image" src="/views/img/logo-da-empresa.png">

      <div class="vertical-decoration-line"></div>
    </div>
</header>
<div class="background-image-container">
<main class="page">

  <form class="formLogin" action="/views/paginas/telaPerfilAluno.html">
      <h1>Cadastro</h1>
      <p>Digite os seus dados de acesso no campo abaixo.</p>
      <label for="email">Nome Completo</label>
      <input type="email" placeholder="Digite seu Nome Completo" autofocus="true" />
      <label for="email">E-mail</label>
      <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
      <label for="email">Telefone/Celular</label>
      <input type="email" placeholder="Digite seu Numero de Telefone" autofocus="true" />
      <label for="password">Senha</label>  
      <input type="password" placeholder="Digite sua senha" required/>
      <input type="password" placeholder="Repita a Senha" required/>
      <input type="submit" value="Cadastrar" class="btn" />
  </form>

</main>
</div>

    
</body>
</html>