<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Perfil </title>
  <link rel="stylesheet" href="/views/css/style.css">
</head>
<body>
  <header class="header-padrao">
    <img src="/views/img/logo-menu-sidebar.jpg" class="sidebar-logo">
    <a href="/index.html"> <img src="/views/img/logo-da-empresa.png" class="logo-empresa"> </a>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"> Pesquisar </button>
      <div id="myDropdown" class="dropdown-content">
        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
        <a href=""> Zeca </a>
        <a href=""> Zezinho </a>
        <a href=""> Joao </a>
      </div>
    </div> 
  </header>
  <main class="recentes">
    <div class="coluna">
      <div class="perfil">
        <img src="/views/img/conta1.jpg" class="perfil-foto">
        <h2> Zezinho da Silva </h2>
        <h4> Meninos do Lago </h4>
        <h4> 13 Anos </h4>

      </div>
    </div>
    <div class="coluna postagem-perfil">
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
      <div class="postagem-recente">
        <img src="/views/img/conta1.jpg" class="perfil-foto-postagem">
        <p class="texto-postagem"> TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO 
        TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO  </p>
      </div>
    </div>
  </main>
  <footer class="footer-padrao">
    <p>&copy; 2023 - Todos os direitos reservados</p>
      <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
      <p><a>Termos de uso</a></p>
      <p><a>Política de privacidade</a></p>
      <p><a>Sobre nós</a></p>
  </footer>
</body>
</html>