<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="/views/js/script.js"></script>
</head>
<body class="background">
  <header class="header">
    <div class="header-left" onclick="openNav()">
      <img class="logo-image" src="/views/img/logo-da-empresa.png">
      <p class="hamburguer-menu-image">&#9776;</p>

      <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
      </div>
    </div>
    <div class="header-middle">
      <div class="vertical-decoration-line"></div>
      <div class="container-searchbar">
        <button class="header-searchbar-button"><img src="/views/img/search.svg"></button>
        <input class="header-searchbar" placeholder="Buscar..." type="text">
      </div>
    </div>
    <div class="header-right">
      <img class="header-profile-picture" src="/views/img/conta1.jpg">
      <h2 class="header-profile-name"> Zeca Figueiredo </h2>
    </div>
  </header>
    <div class="page">
        <form method="POST" class="formLogin">
            <h1>Cadastrar</h1>
            <p>Digite os seus dados para cadastrar nos campos abaixo.</p>
            <label for="name">Nome</label>
            <input type="name" placeholder="Digite seu nome Completo" />
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
            <label for="password">Senha</label>  
            <input type="password" placeholder="Digite sua senha" />
            <label for="password">Confirmar Senha</label>  
            <input type="password" placeholder="Confirme sua senha" />
            <a href="telaLogin.html">Já tenho conta</a>
            <input type="submit" value="Cadastrar" class="btn" />
        </form>
    </div>
    <footer class="footer-padrao">
      <p>&copy; 2023 - Todos os direitos reservados</p>
        <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
        <p><a>Termos de uso</a></p>
        <p><a>Política de privacidade</a></p>
        <p><a>Sobre nós</a></p>
    </footer>
    
</body>
</html>