<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Chamada</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="/views/js/script.js"></script>
</head>
<body>
    <header class="header">
      <div class="header-left" onclick="openNav()">
        <img class="logo-image" src="../img/logo-da-empresa.png">
        <p class="hamburguer-menu-image">&#9776;</p> 
        <div class="vertical-decoration-line"></div>
      </div>
      <div class="header-right" id="headerRight">
        <p id="dropdownArrow" class="dropdown-arrow">&#11167</p>
        <img class="header-profile-picture" src="/views/img/conta1.jpg">
        <h2 class="header-profile-name"> Zeca Figueiredo </h2>
      </div>
    </header>

      <div class="meses-container">
        <a href="telaChamada.html">Janeiro</a>
       <!--ADICIONAR RESTO DPS-->

    </div>

    <footer class="footer-padrao">
        <p>&copy; 2023 - Todos os direitos reservados</p>
          <p>Entre em contato pelo e-mail: contato@exemplo.com</p>
          <p><a>Termos de uso</a></p>
          <p><a>Política de privacidade</a></p>
          <p><a>Sobre nós</a></p>
      </footer>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/views/js/script.js"></script>
</body>
</html>
