<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/views/css/style.css">
    <script type="text/javascript" src="/views/js/script.js"></script>
</head>
<body class="background">
  <header class="header">
    <div class="header-left" onclick="operateNav()">
      <img class="logo-image" src="/views/img/logo-da-empresa.png">
      <div class="vertical-decoration-line"></div>
    </div>
</header>

<div class="background-image-container">
    <main class="page">
      <form class="formLogin" action="/views/paginas/telaPerfilAluno.html">
        <h1>Login</h1>
        <p>Digite os seus dados de acesso no campo abaixo.</p>
        <label for="email">E-mail</label>
        <input type="email" placeholder="Digite seu e-mail" autofocus="true" />
        <label for="password">Senha</label>  
        <input type="password" placeholder="Digite sua senha" required/>
        <a href="/views/paginas/telaEsqueci.html">Esqueci minha senha</a>
        <a href="/views/paginas/telaCadastro.html">Não tenho conta</a>
        <input type="submit" value="Acessar" class="btn" />
    </form>
      </main>
    </div>
    
</body>
</html>