<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <div class="header-left" onclick="operateNav()">
          <img class="logo-image" src="../img/logo-da-empresa.png">
          <p class="hamburguer-menu-image">&#9776;</p> 
          <div class="vertical-decoration-line"></div>
        </div>
        <div class="header-right" id="headerRight" onclick="operateDrop()">
          <p id="dropdownArrow" class="dropdown-arrow">&#11167</p>
          <img class="header-profile-picture" src="../img/conta1.jpg">
          <h2 class="header-profile-name"> Zeca Figueiredo </h2>
        </div>
    </header>
    <div id="mySidebar" class="sidebar">
      <a href="../../index.html">Portal</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Galeria</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Horário de Ônibus</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Resultados Esportivos</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Biblioteca</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Tomadas de Preço</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Ouvidoria</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Relatórios</a>
      <div class="decoration-horizontal-container">
        <div class="decoration-horizontal-line"></div>
      </div>
      <a href="#">Programas</a>
      </div>
    </div>
    <div id="dropdownMenuProfile" class="dropdown-menu">
      <div class="dropdown-menu__element" id="dropdownElement">
        <a href="TelaPerfil.html"><img src="../img/user.svg"></a>
        <p> Perfil </p>
      </div>
      <div class="dropdown-menu__element" id="dropdownElement">
        <a href="../../index.html"><img src="../img/log-out.svg"></a>
        <p> Logout </p>
      </div>
    </div>
  <div class="profile-container">
    <div class="profile-info">
      <div>
        <h2>OUVIDORIA</h2>
        <p></p>
        <p>Enquanto a OUVIDORIA da Confederação Brasileira de Canoagem não retornar à ativa, o próprio IMEL definirá um canal reservado para receber críticas ou denúncias. </p>
        <p>Não serão consideradas denúncias anônimas, PORÉM AS FONTES SERÃO SEMPRE PRESERVADAS.</p>
        <p>Emails dever ser enviados à:</p>
        <p><STRONG>imel.ouvidoria@gmail.com</STRONG></p> 
      </div>
  </div>
</div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>
